@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  text-align: center;
}
//
// .login-form {
//   background: #034;
//   color: #000;
//   height: 420px;
//   width: 320px;
//   text-align: center;
// }
//
#title {
  background-color: green;
  padding-bottom: 10px;
}
//
// #sign-up {
//   padding: 50px 0px 0px 0px;
// }
